* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#9bafd9,#4c8fa3)  ;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.icons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.icon {
    list-style: none;
}
a {
    position: relative;
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0px 5px 45px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
}
a:hover {
    transform: translateY(-20px);
}

a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 0.5s;
}

a:hover::before {
    transform: skewX(45deg) translateX(-150px);
}